
body {
  box-sizing: border-box;
  font: 16px/1.2em 'Lato', sans-serif;
}

/* Links */

a:link {
  color: #2d3c49;
  text-decoration: none;
}

a:hover {
  color: #02b3e4;
}

hr {
  border: 2px solid #7d97ad;
}

/* Header */

.header {
  color: #2d3c49;
  min-height: 100px;
  text-align: center;
  text-transform: capitalize;
}

.logo {
  border-radius: 50%;
}

.header h1 {
  font: lighter 2em/1.2em 'Lato', sans-serif;
  margin: 0;
}

.header h2 {
  font: lighter 1.5em/1em 'Lato', sans-serif;
  margin: 0;
}

/* Hero */

.hero {
  background: url(../img/hero_bg.jpg) center/cover  no-repeat;
  min-height: 320px;
  position: relative;
  width: 100%;
}

.hero-text {
  background-color: rgba(45, 60, 73, 0.4);
  padding: 1em;
  position: absolute;
  bottom: 0;
}

/* Featured works */

.work-title {
  color: #7d97ad;
  font: lighter 1.5em/1em 'Lato', sans-serif;
  text-transform: capitalize;
}

.works {
  display: flex;
  flex-flow: wrap;
  max-width: 100%;
}

.works img {
  width: 100%;
}

figure {
  color: #2d3c49;
  text-align: center;
}

figcaption {
  font: bold 1.2em/1.2 'Lato', sans-serif;
  text-transform: uppercase;
}

/* Footer */

.footer {
  border-top: medium solid #7d97ad;
  color: #7d97ad;
  text-align: center;
}

/* Responsive Design */

@media screen and (min-width: 921px) {

  body {
    margin: auto;
    width: 80%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
  
  .hero {
    min-height: 600px;
  }

  .hero-text {
    padding: 2rem;
  }

  .hero-text p {
    width: 75%;
  }

  .works img {
    width: 100%;
  }

  .works {
    flex-flow: nowrap;
  }

}

@media screen and (min-width: 576px) and (max-width: 920px) {

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
  }
  
  .hero {
    min-height: 480px;
  }

  .hero-text p {
    width: 75%;
  }

  .works img {
    width: 70%;
  }

  .works {
    justify-content: center;
  }

}


/*** COLOR SCHEME #02b3e4 #2d3c49 #7d97ad ***/
